#This is an example config file.
#Please make sure to save config files with a .config suffix in the filename. 

#The name of the package
name = tor-browser-de

#Space separated list of needed GPG keys
#Optional
pgp_keys = 2E1AC68ED40814E0

#Disable building and updating of the package
#Optional
disabled = true
